.CommentTable {
    width: 100%;
    .ListComments {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }
    .CommentBox {
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .UserAvatar {
            display:flex;
            flex-direction: column;
            align-items: center;
            width: 150px;
            height: 100px;
        }
        .CommentContent {
            flex: 1;
            margin-left: 10px;
        }
        .UserRate {
            width: 100%;
            display: flex;
            p {
                display: block;
                margin: 8px 20px;
            }
        }
        .UserComment {
            width: 100%;
            textarea {
                width: 100%;
                height: 80px;
                outline: none;
                resize: none;
                text-indent: 20px;
                border-radius: 3px;
                border: 1px solid #e4e4e4;
                background-color: #f7f7f7;
            }
            .PostCommentBtn {
                user-select: none;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 500;
                font-size: 16px;
                color: white;
                overflow: hidden;
                box-shadow: 5px 5px 5px #b7b7b7;
                margin-top: 20px;
                width: 150px;
                height: 35px;
                background-color: #ff514e;
                border-radius: 17px;
                transition: 0.1s;
                p {
                    display: inline-block;
                    margin: 10px 20px;
                }
                &:active {
                    background-color: #c33d3b;
                    transition: 0.1s;
                }
            }
            
        }
    }
}



