.ProductDetail {
  width: 100vw;
  max-width: 1366px;
  margin: 0 auto;
}

.ProductDetailBody {
  width: 85%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.ProductMainContent {
  width: 43%;
}

.ProductImages {
  width: 100%;
  overflow: hidden;
}

.ProductFullDetail {
  width: 55%;
}

.ProductFullDetail h1 {
  font-weight: bold;
}

.ProductFullDetail h2 {
  font-weight: bold;
  font-size: 24px;
  color: #FF514E;
}

.ProductFullDetail h3 {
  font-weight: bold;
  font-size: 24px;
}

.ProductFullDetail p {
  font-size: 16px;
}

.ProductRate-Comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.DiscountOption {
  font-size: 16px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
}

.AddCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #d9d9d9;
}

.Increase-Decrease {
  width: 100px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.Increase-Decrease p {
  line-height: 16px;
}

.AddCardButton {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 30px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  width: 100%;
  height: 35px;
  background-color: #FF514E;
  border-radius: 17px;
  overflow: hidden;
  -webkit-transition: 0.1s;
  transition: 0.1s;
  -webkit-box-shadow: 5px 5px 5px #b7b7b7;
          box-shadow: 5px 5px 5px #b7b7b7;
}

.AddCardButton p {
  display: inline-block;
  margin: 10px 20px;
}

.AddCardButton:active {
  background-color: #C33D3B;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.FakeBtn {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  width: 35px;
  height: 35px;
  border: none;
  border-radius: 50%;
  background-color: #f7f7f7;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.FakeBtn p {
  display: inline-block;
  margin: 0 auto;
}

.FakeBtn:active {
  background-color: #b7b7b7;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.ShipPolicy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  border-left: 3px solid #FF514E;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
}

.ShipPolicy p {
  display: inline-block;
  margin: 5px 0;
  margin-left: 5px;
  font-size: 16px;
}

.PolicyIcon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
}

.ProductFullDescription {
  width: 70%;
  margin: 50px auto;
  padding-bottom: 30px;
}

.ProductRelate {
  width: 100%;
}

.ProductRelateList {
  width: 85%;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.ProductRelateTitle {
  width: 300px;
  margin: 20px auto;
}

.ProductRelateTitle p {
  font-size: 32px;
  font-weight: bold;
  margin: 20px auto;
}

@media screen and (max-width: 992px) {
  .ProductDetailBody {
    width: 90%;
    margin: 50px auto;
    display: block;
  }
  .ProductMainContent {
    width: 100%;
  }
  .ProductFullDetail {
    width: 100%;
  }
}
/*# sourceMappingURL=productDetail.css.map */