.MainMenu {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.TopBar {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 1000;
  top: 0;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
}

.NavBar {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.TopMenu {
  margin-top: 8px;
}

.TopMenu li:first-child {
  display: none;
}

.TopMenu li {
  font-size: 16px;
  float: left;
  color: black;
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  list-style-type: none;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  cursor: pointer;
}

.TopMenu li p {
  color: black;
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.TopMenu li p:hover {
  color: #ff514e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.TopMenu li img {
  width: 60px;
}

.TopMenu li h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  color: #e4a607;
  margin: 0;
}

.Cart-User > ul {
  text-decoration: none;
  position: relative;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.Cart-User > ul li {
  min-width: 80px;
  text-align: left;
  font-size: 32px;
  float: left;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.Cart-User > ul li p {
  font-size: 16px;
  line-height: 16px;
}

.Cart-User > ul li p:hover {
  color: #ff514e;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Cart-User > ul li:last-child {
  width: 150px;
}

.Cart-User ul ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 140%;
  -webkit-box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
  background-color: white;
  padding: 0;
  overflow: hidden;
  border-radius: 8px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.Cart-User ul ul li {
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #d9d9d9;
  position: relative;
}

.Cart-User ul ul li p {
  display: block;
  margin: 5px 10px;
  color: black;
  font-weight: 600;
}

.Cart-User li:hover > ul {
  visibility: visible;
  opacity: 1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.Cart-User .currentUser {
  color: black;
  font-weight: 600;
  font-size: 18px;
  display: block;
  margin-top: 15px;
}

.Cart-User .User {
  color: black;
}

.UserCart {
  color: black;
}

.CartUpdate {
  width: 30px;
  height: 25px;
  border-radius: 10px;
  background-color: rgba(255, 81, 78, 0.7);
}

.CartUpdate p {
  display: block;
  color: #ffbb03;
  font-weight: bold;
  text-align: center;
  padding-top: 3px;
}

@media screen and (max-width: 992px) {
  .NavBar {
    width: 95%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .TopMenu li {
    display: none;
  }
  .TopMenu li:first-child {
    display: block;
  }
  .Cart-User li:last-child {
    display: none;
  }
}
/*# sourceMappingURL=topBar.css.map */