.MainMenu{
    width:100vw;
    margin:0 auto;
}
.TopBar{
    width :100%;
    margin:0 auto;
    height:70px;
    background-color: rgba(0, 0, 0, 0.8);
    display:flex;
    flex-direction: column;
    justify-content: center;
    position:fixed;
    z-index: 1000;
    top:0;
}
.NavBar{
    width:90%;
    margin:0 auto;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}
.TopMenu {
    li:first-child{
        display:none;
        }
    li{
    font-size: 16px;
    float:left;
    color:white;
    align-items:baseline;
    margin-left: 20px;
    display:flex;
    text-decoration:none;
    list-style-type: none;
    transition:0.6s;
    cursor: pointer;
    p:hover{
        color:#FF514E;
        transition:0.6s;
        }
    }
}

.Cart-User li{
    font-size: 32px;
    float:left;
    color:white;
    align-items:center;
    margin-left: 32px;
    display:flex;
    text-decoration:none;
    list-style-type: none;
    transition:0.6s;
    cursor: pointer;
    p{
        font-size: 16px;
        line-height:16px;
    }
    p:hover{
        color:#FF514E;
        transition:0.6s;
    }
}
.CartUpdate{
    width: 30px;
    height:20px;
    border-radius: 10px;
    background-color: rgba(255,81,78, 0.7);
    p{
        color: #FFBB03;
        font-weight: bold;
        text-align:center;
    }
}
.SideMenu{
    background-color: rgba(0, 0, 0, 0.95);
    width:75%;
    height: 100%;
    align-items: left;
    div{
        width: 100%;
        border-bottom: 1px solid #333333;
        margin-top: 10px;
        ul {
            width: 100%;
            li{
                width: 100%;
                font-size: 16px;
                color:white;
                align-items:baseline;
                margin-left: 20px;
                display:flex;
                text-decoration:none;
                list-style-type: none;
                transition:0.6s;
                cursor: pointer;
                p:hover{
                color:#FF514E;
                transition:0.6s;
        }
            }
        }
    }
}
.SideMenuBackground{
    z-index: 10001;
    background-color: rgba(0, 0, 0, 0.2);
    width:100vw;
    height: 100vh;
    align-items: left;
    position:fixed;
    top:0;
    opacity:0;
    visibility:hidden;
    transition: 0.2s;
}
.ShowSideMenu{
    opacity:1;
    visibility:visible;
    transition: 0.4s;
}

@media screen and (max-width:992px){
    .NavBar{
        width:95%;
        display:flex;
        flex-direction: row;
        justify-content:space-between;
    }
    .TopMenu {
        li{display:none;}
        li:first-child{display:block;}
    }
    .Cart-User li:last-child{
        display:none;
    }
}