.MainMenu {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
}
.TopBar {
    width: 100%;
    max-width: 1366px;
    margin: 0 auto;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.NavBar {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.TopMenu {
    margin-top: 8px;
    li:first-child {
        display: none;
    }
    li {
        font-size: 16px;
        float: left;
        color: white;
        align-items: baseline;
        margin-left: 20px;
        display: flex;
        text-decoration: none;
        list-style-type: none;
        transition: 0.6s;
        cursor: pointer;
        p:hover {
            color: #ff514e;
            transition: 0.6s;
        }
    }
}

.Cart-User > ul {
    text-decoration: none;
    position: relative;
    list-style-type: none;
    display: flex;
    padding: 0;
    li {
        min-width: 80px;
        text-align: left;
        font-size: 32px;
        float: left;
        color: white;
        display: flex;
        align-items: center;
        transition: 0.3s;
        cursor: pointer;
        p {
            font-size: 16px;
            line-height: 16px;
        }
        p:hover {
            color: #ff514e;
            transition: 0.3s;
        }
    }
    li:last-child {
        width: 150px;
    }
}
.Cart-User ul ul {
    flex-direction: column;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 150%;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.5);
    background-color: white;
    padding: 0;
    overflow: hidden;
    border-radius: 8px;
    transition: 0.2s;
    li {
        width: 100%;
        height: 40px;
        border-bottom: 1px solid #d9d9d9;
        position: relative;
        p {
            display: block;
            margin: 5px 10px;
            color: black;
            font-weight: 600;
        }
    }
}
.Cart-User li:hover > ul {
    visibility: visible;
    opacity: 1;
    transition: 0.4s;
}
.Cart-User {
    .currentUser {
        color: white;
        font-size: 18px;
        display: block;
        margin-top: 12px;
    }
}
.CartUpdate {
    width: 30px;
    height: 25px;
    border-radius: 10px;
    background-color: rgba(255, 81, 78, 0.7);
    p {
        display: block;
        color: #ffbb03;
        font-weight: bold;
        text-align: center;
        padding-top: 3px;
    }
}
.SideMenu {
    background-color: rgba(0, 0, 0, 0.8);
    width: 320px;
    height: 100%;
    align-items: left;
    .SideMenuTop,
    .SideMenuBody,
    .SideMenuBottom {
        cursor: pointer;
        width: 100%;
        border-bottom: 1px solid #333333;
        margin-top: 10px;
        font-size: 16px;
        color: white;
        align-items: baseline;
        display: flex;
    }
    ul {
        width: 100%;
        li {
            width: 100%;
            color: white;
            margin-left: 20px;
            display: flex;
            text-decoration: none;
            list-style-type: none;
            transition: 0.6s;
            cursor: pointer;
            p:hover {
                color: #ff514e;
                transition: 0.6s;
            }
        }
    }
}
.SideMenuBackground {
    z-index: 10001;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 1366px;
    height: 100vh;
    align-items: left;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
    backdrop-filter: blur(3px);
}
.Show {
    opacity: 1;
    visibility: visible;
    transition: 0.4s;
}
@media screen and (max-width: 992px) {
    .NavBar {
        width: 95%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .TopMenu {
        li {
            display: none;
        }
        li:first-child {
            display: block;
        }
    }
    .Cart-User li:last-child {
        display: none;
    }
}
